<div style="clear:both;"></div>

<footer id="footer">
    {pc:block pos="m_copyright"}{/pc}
</footer>
</div>
<div style="display:none" id="gotopbtn"></div>
<script type="text/javascript" src="/statics/huhangnet/m/js/at.js"></script>
<!-- 
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';        
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>


<script>(function(){
var src = (document.location.protocol == "http:") ? "http://js.passport.qihucdn.com/11.0.1.js?4741fc861946d8fdce961eb7c5101e74":"https://jspassport.ssl.qhimg.com/11.0.1.js?4741fc861946d8fdce961eb7c5101e74";
document.write('<script src="' + src + '" id="sozz"><\/script>');
})();
</script>
 -->
</body>
</html>