<header id="header"><div class="header-main">
    <a href="javascript:;" class="menu-button"><span class="icon-list"></span></a><span class="logo"><a href="{hh_m_domain()}">{$site[name]}</a></span><span class="topbtn" id="topbtn"></span></div></header>

<div class="header-search" id="topsearch">
    <form id="formgo" name="formgo" method="get" action="{hh_m_domain()}index.php">
        <input type="hidden" name="m" value="search">
        <input type="text" placeholder="搜索图片" value="" id="keytext" class="searchtext" name="q"><span class="searchbtn" id="searchbtn">搜索</span>
    </form>
</div>